<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%=title || '' %></title>
    <meta name="description" content="<%=description || '' %>">
    <link rel="manifest" href="./manifest.json">
    <link rel="canonical" href="./index.html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- start favicon -->
    
    <link rel="shortcut icon" href="./favicon.ico">
    <!-- end favicon -->
  </head>
  <body>
    <div id="app"></div>
    <script type="text/javascript" src="<%- common %>" charset="utf-8"></script>
    <script type="text/javascript" src="<%- vendor %>" charset="utf-8"></script>
    <script type="text/javascript" src="<%- name %>" charset="utf-8"></script>
  </body>
</html>
